body {
  background-image: url("5661.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
footer {
  text-align: center;
}

h2 {
  margin: 0 0 10px;
}
select {
  display: block;
  width: 100%;
  border-radius: 7px;
  padding: 10px;
  font-size: 18px;
}
footer {
  margin: 20px 0 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #20506b;
}

footer a:hover {
  color: white;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
  background-color: rgba(0, 0, 0 0.9);
  padding: 30px;
  border: 1px solid rgb(135, 132, 135);
  background-color: rgb(252, 247, 247, 0.3);
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 18px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}
.time {
  font-size: 24px;
  font-weight: bold;
}

.time small {
  font-size: 12px;
  vertical-align: text-top;
  line-height: 24px;
}

.date {
  opacity: 0.7;
}
.allCities {
  font-size: 20px;
}
