body {
  background-image: url("5661.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
footer {
  text-align: center;
}

h2 {
  margin: 0 0 10px;
}
select {
  display: block;
  width: 100%;
  border-radius: 7px;
  padding: 10px;
  font-size: 18px;
}
footer {
  margin: 20px 0 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}
.container {
  max-width: 300px;
  margin: 0 auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0 0.9);
  padding: 30px;
  margin-top: 30px;
  border: 1px solid rgb(206, 197, 206);
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 18px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}
.time {
  font-size: 24px;
  font-weight: bold;
}

.time small {
  font-size: 12px;
  vertical-align: text-top;
  line-height: 24px;
}

.date {
  opacity: 0.7;
}
